body {
    background-color: rgb(69, 136, 136);
}


#world {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 600px;
    margin-top: 70px;
}

.playerDiv {
    position: absolute;
    image-rendering: pixelated;
}

.message {
    image-rendering: pixelated;
}